body{

    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: coral;
}

h1 {
    color: #333;
}
/* git stash is used to save changes that are not ready to be committed
git stash show is used to show the changes that are stashed
git stash apply is used to apply the stashed changes to the working directory
git stash pop is used to apply the stashed changes and remove them from the stash list
git stash list is used to show the list of stashed changes

*/